@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; < ocupa todo espaco da tela */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* CSS mobile  */
@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: auto;
    }
}

/* margem das bordas */
.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 1.28rem;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.625rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    text-decoration: underline;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6% 15%;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.625rem;
    font-weight: ligher;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;    
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao__links__botao {
    /* background-color: #22D4FD; */
    width: 50%;
    text-align: center;
    padding: 1.35rem 0 1.35rem 0;
    border-radius: 0.5rem;
    border: 0.125rem solid var(--cor-terciaria);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    /* serve para alinhamento do botao/icone */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.apresentacao__links__botao:hover {
    background-color: var(--cor-hover);
    padding: 3%;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    color: #000000;
    background-color: var(--cor-terciaria);
    padding: 1.5rem;
}

.rodape__titulo {
    font-family: var(--fonte-secundaria);
    font-size: 1.125rem;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
}

/* CSS about.html */

/* CSS curriculum.html */
.apresentacao__conteudo__descricao {
    font-family: var(--fonte-secundaria);
    font-weight: lighter;
    font-size: 1.125rem;
    padding-top: 6%;
    margin-left: 5%;
}
.apresentacao__conteudo__subtitulo {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: lighter;
    text-decoration: none;
    padding-top: 4%;
    padding-bottom: 2%;
}

.apresentacao__conteudo__subtexto {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: lighter;
    text-decoration: none;
    margin-top: 2%;
    margin-left: 5%;
}

.apresentacao__conteudo__cargo {
    font-family: var(--fonte-secundaria);
    font-size: 1,25rem;
    font-weight: lighter;
    color: var(--cor-terciaria);
}